@charset "UTF8";

/*Resetando o projeto*/
*{
  margin: 0;
  padding: 0;
}

body {
  /* display: grid;
  flex-wrap: wrap; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0dc41668;
 
}

/* Cabeçalho Geral */
header {
  display:flex;
  justify-content: center;
  align-items: center;
  /* border-style: dotted; */
     
}
/* Texto: Feira Livre */
#primeiro{
  color:#3c75b9;
  text-align:center;
  margin: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.111);
  text-transform:capitalize;
  font-size: 1.8em;
}


/* Corpo dos Cards */
main{
  /* border-style: dotted; */
  width:80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* display:flex; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 10px;
  column-gap: 2px;
  /* gap: 1em; */
  justify-content:center;
  align-items: center;
  margin: 0 auto; 
  
}

/*Container Geral - dos CARDS*/
.card {
  background-color: #fff; /*Fundo branco para diferenciar o cartão*/
  width: 95%;
  /* max-width: 180px;  */
  height: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaa;
  /* transition: transform 0.4s ease-in-out; */
  overflow: hidden;
  object-fit: cover;
  
}

/*imagem das frutas nos cards*/
.card img {
  width: 100%;
  height: 120px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
 
  
  
}
/* Ao passar o mouse nos cards */
.card img:hover {
  transform: scale(1.1);
  /* border-radius: 12px; */  
 
}


/*Preço dos cards*/
.card section { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2px; */
  /* height: 50%; */
  
}


/*Titulo - Nome da Fruta*/
.card h1 {
  font-size: .9em;
  font-weight: bolder;
  color: #555353aa;
  padding: 4px;
  margin: 2px;
  margin-bottom: 10px;

}

/*Descrição - Tipo de Fruta*/
.card h2 {
  font-size: .9rem;
  color: #aaaa;
  margin-bottom: 5px;

}

/* Preços das Frutas */
span {
  font-weight: bolder; 
  padding: 5px; 
}

/*Botão: Saiba Mais*/
.card button {
  background-color: #2192FF;
  height: 25px;
  border: none; /*sem bordas*/
  padding: 3px;
  margin-bottom: 5px;
  width: 70%; /*do valor do container: cards*/
  color: #fff; /*Cor do nome: Clique Aqui*/
  font-size: .9em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
 
}
/*Botão: Saiba Mais - Ao passar do mouse*/
.card button:hover {
  transform: scale(1.1);
}

/*Botão: LINK - Saiba Mais - Após clicar*/
a {
  text-decoration: none;
  color: #fff;
}

/* Selecionar as Frutas, Preços e Botões */
footer {
  /* border-style: dotted; */
  display:grid;
  grid-template-columns:repeat(4, 10%);
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-top: 10px;
    
}

/* Inputs da Pagina  */
#ifrutas1, #iqtd4, #ires1 ,#ires3 {
  /* width: 100%;
  max-width: 180px; */
  text-align: center;
  border-radius: 5px;
  box-shadow:.5px.5px rgba(0, 0, 0,.6);
  padding: 3px;
  cursor: pointer;
}

/* Botão Calcular */
button {
  grid-column-start:2;
  grid-column-end: 5;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
 } 

 #ibotao:hover {
  transform: scale(1.1);
  font-weight: 800;
 }

/* Paragrafo: Direitos reservados */
#ifinal {
  font-size: .7em;
  font-weight: bold;
  width: 100%;
  display: grid;
  grid-row-start:3;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-top: 5px;
} 

/* Media Queries */

@media (min-width: 1201px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
  }
}

#ifinal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
}

@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
     
  }

  #ifinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
          
  }

  #ifrutas1{
    padding-left: 28px;
  } 

}

/* Para telas menores que 576px (smartphones) */
@media (max-width: 576px) {
  main {
    grid-template-columns:repeat 3fr;
    overflow: hidden;
   
  }

  footer {
    grid-template-columns:repeat 3fr;
    justify-items: center;
  }

  #ifrutas1, #iqtd4, #ires1 ,#ires3 {
    grid-template-columns: 1fr;
    
  }

  #ifrutas1{
    padding-left: 28px;
  }  

  #ifinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

}




















